:import {
  -st-from: "../foundations/typography.st.css";
  -st-named: T06;
}

:import {
  -st-from: "../../../CustomModalLayout/CustomModalLayout.st.css";
  -st-default: CustomModalLayout;
}

.root {
  -st-extends: CustomModalLayout;
}

.root {
  border-radius: 4px;
}

.root::header::innerContent {
  padding: 16px 24px;
}

.root::header::title {
  -st-mixin: T06();
}

.root::closeButton {
  margin-left: 12px;
  width: initial;
  height: initial;
}

.root:not(:removeContentPadding)::content::innerContent {
  padding: 0 24px;
}

/*Control Buttons*/

/*Bypass height */
.root::closeButton, .root::helpButton {
  width: initial;
  height: initial;
}

/*Bypass inline SVG content */
.root::closeButton::content, .root::helpButton::content {
  display: none;
}

.root::closeButton::before {
  content: '';
  background-image: url("../icons/close.svg");
  width: 12px;
  height: 12px;
}

.root::helpButton::before {
  content: '';
  background-image: url("../icons/help.svg");
  width: 12px;
  height: 12px;
}