.item {
  display: grid;
  grid-template-columns: auto 1fr;

  padding-right: 30px;
}

.item:last-child .divider {
  display: none;
}

.selector {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 30px;
  padding-right: 18px;
}

.header {
  overflow: hidden;
  cursor: pointer;

  padding: 24px 0;
}

.content {
  overflow: hidden;

  grid-column-start: 2;
  grid-column-end: 2;
}

.inner {
  padding-bottom: 24px;
}
