:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D40, B05, D80, D55, D10, B10;
}


:vars {
  canvas-top-gap: 6px;
  canvas-bottom-gap: 29px;
  datasetBg: rgba(48, 141, 221, .15);
  pointBorderColor: value(B10);
  datasetLineColor: value(B05);
  pointHoverBackgroundColor: value(D80);
  pointHoverBorderColor: value(B05);
  gridLineZeroLineColor: value(D40);
  gridLineFontColor: value(D55);
  tooltipBg: value(D10);
}

.lineChart {
  position: relative;
  z-index: 0;
}

.lineChartCursor {
  top: value(canvas-top-gap);
  left: 50%;

  width: 1px;
  height: calc(100% - value(canvas-bottom-gap));

  transition: opacity .1s ease-in-out;

  opacity: 0;

@extend .lineChartAxis;
  will-change: opacity, left;
}

.lineChartAxis {
  position: absolute;
  z-index: -1;

  background: value(D40);
}
